.chatGptContainer {
  width: 80%;
  margin: 20px auto 0px;

  .title {
    text-align: center;
  }

  .content {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #333;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
}
